body {
    margin: 0;
    font-family: Candara, Arial, sans-serif;
    background-color: #fff6ee;
    text-align: center;
}

header {
    background-color: rgb(151, 98, 78);
    padding: 15px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

main {
    padding: 40px;
}

h1 {
    font-size: 40px;
    color: rgb(151, 98, 78);
}

p {
    font-size: 22px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

input {
    font-size: 18px;
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid rgb(151, 98, 78);
}

button {
    font-size: 20px;
    padding: 10px 30px;
    background-color: rgb(151, 98, 78);
    color: white;
    border: none;
    border-radius: 10px;
}
